 .nav {
     background-color:rgba(0,0,0,0.2);
     position: fixed;
}

.nav a {
     display: inline;
     list-style-type: none;
     color: white;
     font-size: 11px;
     font-weight: bold;
  text-transform: uppercase;
 
}
 
.nav li {
    display: inline;
    list-style-type: none;
}


.jumbotron {
    background-image: url(pictures/backgroundbarbell.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron h1 {
    color: white;
    font-size: 48px;
    font-family: "Shift", sans-serif;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
    color: white;
}

.page-menu {
    background-color: #f7f7f7;
}

.page-menu h3 {
    font-family: 'Shift', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.page-menu a {
    color: #00b0ff;
}

.page-menu ul {
    list-style-type: none;
    padding: 0;
}

#repMax {
    width: auto;
    height: auto;
    float:left;
}

#repMaxPercent {
    width: auto;
    float:left;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}


.tab-panels ul {
    margin: 0;
    padding: 0;
}
.tab-panels ul li {
    list-style-type: none;
    display: inline-block;
    background: #999;
    margin: 0;
    padding: 3px 10px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-weight: 200;
    cursor: pointer;

}
.tab-panels ul li:hover {
    color: #fff;
    background: #666;
}

.tab-panels ul li.active {
    color: #fff;
    background: #666;
}

.tab-panels .panel {
    display:none;
    background: #c9c9c9;
    padding: 30px;
    border-radius: 0 0 10px 10px;
}

.tab-panels .panel.active {
    display:block;
}

.exercise-banner {
    background: #c9c9c9;
    border-radius: 10px;
    padding: 1px 10px 7px 10px;
}

table {
    table-layout: fixed;
    width: 100px;
}

